---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<p>My experiences as a woman of color in STEM motivated me to take on teaching roles throughout my academic career. I am thankful to all of my mentors that I've had who have inspired me to pursue graduate school.</p>

<p>I have taught in tutoring, research mentoring, outreach, and classroom settings since my time at Smith College. I ensure that my mentees are involved in my research, and they have coauthored papers with me.</p>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
